
body { 
 background-color:#f5f5dc; }

h1 { 
 text-align:center;
 color:#4b0082; }

h2 {
 text-align:center;
 color:#808000; }

rt { 
 color:#808000; }

ruby { 
 font-size:36px;
 color:#008000; }

table { 
 margin-left:auto;
 margin-right:auto; }

table.menu {
 position:absolute;
 visibility:hidden;
 margin-left:auto;
 margin-right:auto; }

td {
 background-color:#fffaf0;
 border:2px solid #d3d3d3;
 text-align:center;
 padding:1px; }

td.menu {
 background-color:#fffaf0;
 border:2px solid #d3d3d3;
 text-align:center;
 padding:1em; }

.menu_pad {
 background-color:#fffaf0;
 text-align:center;
 padding:1em; }

a:link {
 text-decoration:none;
 color:#800080; }

a:visited {
 text-decoration:none; 
 color:#800080; }

a:hover {
 text-decoration:none; 
 color:#008000;
 background-color:#ffffe0; }

a:active {
 text-decoration:none; 
 color:#008000;
 background-color:#ffffe0; }

.chord {
 color:#da70d6; }

.foot {
 text-align:center; 
 font-family:Sans-serif;
 font-size:12px;
 color:#c0c0c0; }

.fret {
 text-align:center;
 font-size:16px;
 color:#daa520;
 margin-left:auto;
 margin-right:auto; }

.pad {
 border:transparent;
 padding:0.5em; }

.tab {
 margin-left:auto;
 margin-right:auto;
 font-size:24px;
 color:#808000; }
