
body {
 background-color:beige; }

h1 {
 text-align:center;
 color:indigo; }

h2 {
 text-align:center;
 color:olive; } 

p {
 font-family:Sans-serif;
 font-size:18px;
 color:olive; }

table {
 margin-left:auto;
 margin-right:auto; }

td {
 background-color:ivory;
 border:2px solid lightgrey;
 text-align:center;
 padding:1em; }

.chakra { 
 text-align:center;
 font-family:Sans-serif;
 color:olive; }

.glyph {
 font-size:32px;
 color:green; }

.nav {
 font-family:Sans-serif; 
 font-size:16px; }

.node {
 font-size:32px;
 color:coral; }

.port {
 font-size:32px; }

.raga {
 text-align:center;
 font-family:Sans-serif;
 color:purple; }

.zodiac {
 font-size:32px;
 color:indigo; }
