
body {
 background-color:#f5f5dc; }

code {
 color:#008000; }

h1 {
 text-align:center;
 color:#4b0082; }

h2 {
 text-align:center;
 color:#808000; } 

p {
 font-family:Sans-serif;
 font-size:18px;
 color:#808000; }

table {
 margin-left:auto;
 margin-right:auto; }

table.menu {
 background-color:#f5f5dc;
 position:absolute;
 visibility:hidden;
 margin-left:auto;
 margin-right:auto; }

td {
 background-color:#fffaf0;
 border:2px solid #d3d3d3;
 text-align:center;
 padding:0.25em; }

a:link {
 text-decoration:none;
 color:#696969; }

a:visited {
 text-decoration:none; 
 color:#696969; }

a:hover {
 text-decoration:none; 
 color:#2f2f2f;
 background-color:#fffff0; }

a:active {
 text-decoration:none; 
 color:#2f2f2f;
 background-color:#fffff0; }

.chakra { 
 text-align:center;
 font-family:Sans-serif;
 color:#808000; }

.foot {
 text-align:center; 
 font-family:Sans-serif;
 font-size:12px;
 color:#c0c0c0; }

.glyph {
 font-size:32px;
 color:#008000; }

.groove {
 color:#808000; }

.invert {
 font-size:32px;
 color:#c71585; }

.nav {
 font-family:Sans-serif; 
 font-size:16px; }

.node {
 font-size:32px;
 color:#ff7f50; }

.port {
 font-size:32px; }

.raga {
 text-align:center;
 font-family:Sans-serif;
 color:#800080; }

.rhythm {
 border:1px solid #d3d3d3;
 text-align:center;
 font-size:28px;
 color:#b8860b;
 margin-left:auto;
 margin-right:auto; }

.pad {
 border:transparent;
 padding:0.5em; }

.sect {
 margin-left:auto;
 margin-right:auto; 
 text-align:center; 
 font-family:Sans-serif;
 font-size:24px;
 color:#808000; }

.zodiac {
 font-size:32px;
 color:#4b0082; } 
