
body {
  background-color:#f5f5dc;
}
code {
  color:#008000;
}
h1 {
  text-align:center;
  color:#4b0082;
}
h2 {
  text-align:center;
  color:#808000;
}
p {
  font-family:sans-serif;
  font-size:18px;
  color:#808000;
}
table {
  margin-left:auto;
  margin-right:auto;
}
table.menu {
  margin:5px 0 0 -8px;
  background-color:#f5f5dc;
  position:absolute;
  visibility:hidden;
}
td {
  background-color:#fffaf0;
  border:2px solid #d3d3d3;
  text-align:center;
  padding:0.25em;
}
a {
  text-decoration:none;
  color:#696969;
}
a:hover {
  text-decoration:none;
  color:#2f2f2f;
  background-color:#fffff0;
}
.chakra {
  text-align:center;
  font-family:sans-serif;
  color:#808000;
}
.foot {
  text-align:center;
  font-family:sans-serif;
  font-size:12px;
  color:#808080;
}
.glyph {
  font-size:28px;
  color:#008000;
}
.groove {
  color:#808000;
}
.nav {
  font-family:sans-serif;
  font-size:16px;
}
.node {
  font-size:32px;
  color:#ff7f50;
}
.port {
  font-size:32px;
}
.raga {
  text-align:center;
  font-family:sans-serif;
  color:#800080;
}
.rhythm {
  margin-left:auto;
  margin-right:auto;
  border:1px solid #d3d3d3;
  white-space:nowrap;
  text-align:center;
  font-size:20px;
  color:#b8860b;
}
.pad {
  border:transparent;
  padding:0.5em;
}
.sect {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:sans-serif;
  font-size:24px;
  color:#808000;
}
.sect td {
  padding:16px;
}
.invert {
  color:#c71585;
}
.zodiac {
  font-size:28px;
  color:#4b0082;
}

