
body {
  background-color: #f5f5dc;
}
code {
  color: #008000;
}
h1 {
  text-align: center;
  color: #4b0082;
}
h2 {
  text-align: center;
  color: #808000;
}
p {
  font-size: 18px;
  color: #808000;
}
rt {
  font-size: 16px;
  color: #808000;
}
ruby {
  font-size: 24px;
  color: #008000;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
th {
  background-color: #fffafa;
  border: 2px solid #d3d3d3;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
}
td {
  background-color: #fffaf0;
  border: 2px solid #d3d3d3;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
}
nav {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
li {
  margin: 0 1px;
  border: 1px solid #a9a9a9;
  padding: 4px;
  background-color: #fffff0;
}
li.cata {
  position: relative;
  display: inline-block;
}
ul.drop {
  position: absolute;
  left: 0;
  top: 23px;
  visibility: hidden;
}
ul.drop li {
  position: relative;
  left: -2px;
  top: 0;
}
a {
  text-decoration: none;
  color: #908070;
}
a:hover {
  text-decoration: none;
  color: #2f4f4f;
}
.chakra {
  padding: 6px;
  color: #808000;
}
.chartable {
  width: 340px;
  height: 440px;
  border: 0;
}
.chord {
  color: #da70d6;
}
.foot {
  text-align: center;
  font-size: 12px;
  color: #808080;
}
.fret {
  font-size: 16px;
  color: #daa520;
}
.gb {
  width: 350px;
  text-align: justify;
}
.glyph {
  font-size: 28px;
  color: #008000;
}
.groove {
  color: #808000;
}
.invert {
  color: #c71585;
}
.just {
  text-align: justify;
}
.node {
  font-size: 28px;
  color: #ff7f50;
}
.pad {
  padding: 0.5em;
}
.port {
  font-size: 32px;
}
.raga {
  margin: 0;
  padding: 0;
  color: #4b0082;
}
.rhythm {
  font-size: 20px;
  color: #b8860b;
}
.sect {
  font-size: 20px;
  color: #808000;
}
.sect td {
  padding: 16px;
}
.suddha, .prati {
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #cd853f;
}
.signat {
  margin: 0;
  padding: 6px;
  font-weight: bold;
}
.tab {
  font-size: 24px;
  color: #808000;
}
.tab td {
  padding: 4px;
}
.tdw {
  width: 42px;
}
.zodiac {
  font-size: 28px;
  color: #4b0082;
}

